@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

* {
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #181818;
}

nav {
  max-width: 1200px;
  margin: auto;
  padding: 2rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3rem;
}

.link a{
  position: relative;
  padding-bottom: 0.75rem;
  color: #fff;
  cursor: pointer;
}

.link a::after{
  content: "";
  position: absolute;
  height: 2px;
  width: 0;
  bottom: 0;
  left: 0;
  background-color: #1d4ed8;
  transition: all 0.3s ease;
}

.link a:hover::after{
  width: 70%;
}

.btn {
  padding: 1rem 2rem;
  font-size: 1rem;
  text-align: center;
  color: #fff;
  background-color: #1d4ed8;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn:hover {
  background-color: #1e40af;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 5rem 2rem;
}

.blur{
  position: absolute;
  box-shadow: 0 0 1000px 50px #1d4ed8;
  z-index: -100;
}

header {
  position: relative;
  padding-top: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2rem;
}

header .content h1{
  color: #fff;
  margin-bottom: 1rem;
  font-size: 3rem;
  font-weight: 700;
  line-height: 4rem;
}

header .content h1 span{
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px #fff;
}

header .content p{
  margin-bottom: 2rem;
  color: #ccc;
}

header .image{
  position: relative;
}

header .image::before{
  content: "o";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  font-size: 38rem;
  font-weight: 400;
  line-height: 20rem;
  color: #1d4ed8;
  opacity: 0.2;
  z-index: -100;
}

header .image img{
  max-width: 600px;
  margin: auto;
}

section .header{
  margin-bottom: 1rem;
  color: #fff;
  text-align: center;
  font-size: 2.25rem;
  font-weight: 600;
}

.skills {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
}

.skills .card{
  background-color: #27272a;
  padding: 1rem;
  border: 2px solid transparent;
  border-radius: 15px;
  transition: all 0.3s ease;
}

.skills .card:hover{
  background-color: #323232;
  border-color: #fff;
}

.skills .card span{
  display: inline-block;
  background-color: #1e40af;
  padding: 2px 9px;
  margin-bottom: 1rem;
  font-size: 1.75rem;
  color: #fff;
  border-radius: 5px;
}

.skills .card h4{
  margin-bottom: 0.5rem;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 600;
}

.skills .card p{
  color: #ccc;
  margin-bottom: 1rem;
}

.projects{
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.projects .card{
  padding: 3rem 2rem;
  background-color: #27272a;
  display: flex;
  flex-direction: column;
  border: 2px solid transparent;
  border-radius: 15px;
  transition: all 0.3s ease;
}

.projects .card:hover{
  background-color: #323232;
  border-color: #fff;
}

.projects .card .content{
  flex: 1;
  margin-bottom: 2rem;
}

.projects .card h4{
  margin-bottom: 1rem;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 500;
}

.projects .card h3{
  color: #fff;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
  font-size: 2rem;
  font-weight: 600;
  border-bottom: 2px dashed #fff;
}

.projects .card p{
  color: #fff;
  margin-bottom: 0.75rem;
}

.projects .card p i{
  color: #ccc;
  font-size: 1.2rem;
  margin-right: 0.3rem;
}

.projects .card button{
  color: #fff;
  background-color: transparent;
  border: 2px solid #fff;
}

.button-link {
  text-decoration: none;
  color: inherit;
}

.projects .card button:hover{
  background-color: #1e40af;
  border-color: #1e40af;
}

.button-link button {
  width: 300px; 
}

/* Centraliza a tag <a> */
.btn-projects {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 100px;
}

/* Adiciona animação de hover ao botão */
.btn-projects:hover .btn {
  background-color: #1e40af;
}

/* Adiciona estilo ao botão */
.btn-projects .btn {
  padding: 1rem 2rem;
  font-size: 1rem;
  text-align: center;
  color: #fff;
  background-color: #1d4ed8;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-projects .btn:hover {
  background-color: #1e40af;
}


form {
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

form input, form textarea {
  width: 100%;
  background-color: #00000032;
  border: 0;
  outline: 0;
  padding: 20px 15px;
  border-radius: 5px;
  color: #ccc;
  font-size: 14px;
}

form textarea {
  resize: none;
  height: 180px;
  font-family: 'Poppins', sans-serif;
}

form .btn-enviar {
  margin-top: 10px;
}

form .btn {
  width: 100%;
  margin-bottom: 80px;
}

input, textarea::placeholder {
  font-family: 'Poppins', sans-serif;
}

@media (width < 900px){
  .nav-links{
      display: none;
  }
  header{
      grid-template-columns: repeat(1, 1fr);
  }
  header .image{
      grid-area: 1/1/2/2;
  }
  .skills{
      grid-template-columns: repeat(2, 1fr);
  }
  .projects{
      grid-template-columns: repeat(2, 1fr);
  }
  footer{
      grid-template-columns: 1fr 200px;
  }
}

@media (width < 600px){
  header .image::before{
      display: none;
  }

  .skills{
      grid-template-columns: repeat(1, 1fr);
  }

  .projects{
      grid-template-columns: repeat(1, 1fr);
  }

  footer{
      grid-template-columns: 1fr 150px;
  }
}

.footer {
  text-align: center;
  color: #ccc;
  margin-bottom: 30px;
}

@media (max-width: 500px) {
  form {
    max-width: 90%;
    margin: 0 auto;
  }

  form input,
  form textarea {
    padding: 15px 10px;
    font-size: 12px;
  }

  form .btn {
    margin-bottom: 20px;
  }
}

.experiences {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.experiences .card {
  background-color: #27272a;
  padding: 1rem;
  border: 2px solid transparent;
  border-radius: 15px;
  transition: all 0.3s ease;
}

.experiences .card:hover {
  background-color: #323232;
  border-color: #fff;
}

.experiences .card h4 {
  margin-bottom: 0.5rem;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 600;
}

.experiences .card p {
  color: #ccc;
  margin-bottom: 1rem;
}

@media (max-width: 900px) {
  .experiences {
    grid-template-columns: 1fr;
  }
}


.techs {
  display: flex;
  flex-wrap: wrap; /* Permite a quebra de linha */
  gap: 10px;
  margin-top: 10px;
}

.tech {
  border: 2px solid #1d4ed8;
  color: #ccc;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px
}

.cube-wrapper {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 1000px;
  overflow: hidden;
}

.cube {
  width: 100px;
  height: 100px;
  position: relative;
  transform-style: preserve-3d;
  animation: initialRotation 2s ease-in-out infinite;
  cursor: pointer;
}

@keyframes initialRotation {
  0%, 100% { transform: rotateX(-15deg) rotateY(15deg); }
  50% { transform: rotateX(15deg) rotateY(-15deg); }
}

.cube:hover {
  animation-play-state: paused;
}

.face {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 2px solid #1e40af; /* Define a cor da borda */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  background: #181818;
  backdrop-filter: blur(5px);
  transition: all 0.3s ease;
}

.face:hover {
  background: #181818;
  border-color: #1e40af; /* Cor da borda no hover */
}


.front  { transform: translateZ(50px); }
.back   { transform: translateZ(-50px) rotateY(180deg); }
.right  { transform: rotateY(90deg) translateZ(50px); }
.left   { transform: rotateY(-90deg) translateZ(50px); }
.top    { transform: rotateX(90deg) translateZ(50px); }
.bottom { transform: rotateX(-90deg) translateZ(50px); }

.icons {
  height: 60px;
  width: 60px;
  color: #1e40af;
}